.Title {
  font-size: 25px;
}

.container {
  display: flex;
  /* justify-content: center; */
  /* put items in the center */
  /* align-items: center; */
  flex-direction: column;
  margin-bottom: 40px;
}

#MyTable {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  width: 45rem;
  /* put in the center */
  /* margin: auto; */
  margin-left: 48px;
}

#MyTable th,
td {
  border: 1px solid rgb(190, 190, 190);
  text-align: center;
  padding: 10px 20px;
}

#MyTable tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

#MyTable tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}

#MyTable th {
  background-color: rgb(230, 230, 230);
}

.MyList {
  font-size: 18px;
  margin-left: 32px;
  /* margin: auto; */
}
li {
  margin: 3px;
}

#cities {
  margin-left: 48px;
  /* margin: auto; */
  width: 12rem;
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(240, 240, 240);
  margin-bottom: 100px;
}
