.Title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}

.container {
  display: flex;
  /* justify-content: center; */
  /* put items in the center */
  /* align-items: center; */
  flex-direction: column;
  margin: 20px auto;
}

.Line {
  border: none;
  border-top: 3px double gray;
  color: gray;
  height: 5px;
}

#table1 {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  width: 45rem;
  /* put in the center */
  /* margin: auto; */
  margin-left: 48px;
}

#table1 th,
td {
  border: 1px solid rgb(190, 190, 190);
  text-align: center;
  padding: 10px 20px;
}

#table1 tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

#table1 tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}

#table1 th {
  background-color: rgb(230, 230, 230);
}

#textBox {
  height: 3rem;
  /* width: 60%; */
  width: 35rem;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 48px;
  display: block;
  /* margin: auto; */
  margin-left: 48px;
  padding-left: 40px;
  font-size: 18px;
}

#textBox::placeholder {
  font-size: 17px;
  opacity: 0.5;
  font-weight: bold;
}

.MyList {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 32px;
  /* margin: auto; */
}
li {
  margin: 3px;
}

#cities {
  margin-left: 48px;
  /* margin: auto; */
  width: 12rem;
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(240, 240, 240);
  margin-bottom: 160px;
}
